<footer>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col col-md-4 col-sm-12">
        <h3>GETTING AROUND</h3>
        <h4><a href="/">Home</a></h4>
        <h4><a href="/constance.html">Constance</a></h4>
        <h4><a href="/partners.html">Partners</a></h4>
        <h4><a href="/team.html">Team</a></h4>
        <h4><a href="/contact.html">Contact</a></h4>
      </div>
      <div class="footer-col col-md-4 col-sm-12">
        <h3>CONTACT US</h3>
        <h4><a target="_blank" href="mailto:help@zynesoft.com">help@zynesoft.com</a></h4>
        <p>
          <a class="twitter" target="_blank" href="https://www.twitter.com/zynesoft/">
            <i class="fab fa-twitter-square"></i>
          </a>
          <a class="facebook" target="_blank" href="https://www.facebook.com/zynesoft/">
            <i class="fab fa-facebook-square"></i>
          </a>
      </div>
      <div class="footer-col col-md-4 col-sm-12">
        <h3>STAY TUNED</h3>
        <h4>Sign up for exclusive offers, updates and blog posts.</h4>

        <!-- TODO: Sign up for mailchimp -->
        <div class="email-div">
          <input type="text" class="email-text-box" placeholder="Email">
        </div>
        <div id="link-accent">
          <a href="/">Sign up</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container rights" id="link-accent">
    <p>© 2018 Zyne Technology Corporation | <a href="/terms.html">Terms of Use</a> | <a href="/privacy.html">Privacy</a>
  </div>
</div>
</footer>
