<!-- index.nunjucks -->
{% extends "layout.nunjucks" %} {% block content %}

<body id="constance">

  <!-- Navigation -->
  {% include "partials/navigation.html" %}

  <header class="masthead">
    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <h1 class="header-content-h1 header-content-h1-left header-bold">Oilfield Billing Made Easy</h1>
          <h2 class="header-content-h2">Constance OTC Cloud simplifies ticketing and billing for Oilfield Service Companies, delivering savings across the billing cycle.</h2>
        </div>
        <div class="col-sm-7">
        </div>
      </div>
    </div>
  </header>

  <section class="tech-core">
    <div class="container">
      <div class="row">
        <div class="col-sm-7">

        </div>
        <div class="col-sm-5">
          <h2>The <b>Offshore Wind Solutions</b> Integrated Package</h2>
          <h5 class="text-muted">Offshore Wind Solutions integrates Marine, Aviation and Manpower Services into one integrated service solution.</h5>
        </div>
      </div>
    </div>
  </section>

  <section class="tech-how bg-primary">
    <div class="container">
      <div class="row bottom-pad">
        <div class="col">
          <h2 class="align-center">Our Integrated Solution simplifies Wind Farm Operations</h1>
          <p class="align-center lighter-text lr-padding">We created Offshore Wind Solutions to simplify the contracting process for O&M providers, developers and contractors.  Our single interface in Taiwan provides all the key services needed to operate a wind farm.</p>
          <hr>
        </div>
      </div>
      <div class="row bottom-pad">
        <div class="col-sm-4 top-pad">
          <i class="fa fa-users feature-item"></i>
        </div>
        <div class="col-sm-8">
          <h3 class="heading-content-h4">Air & Sea Logistics</h3>
          <p>Through our partners, we can deliver Marine and Aviation solutions in Taiwan to suit different projects needs, to give our customers easy access to their wind farms, and to support construction project logistics.  Our service offering includes Service Operation Vessels, Crew Transfer Vessels, Guard Vessels, Foundation Transportation, as well as Personnel Transportation Helicopters.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 top-pad">
          <span class="fa fa-file-text-o feature-item"></span>
        </div>
        <div class="col-sm-8">
          <h3 class="heading-content-h4">Supply Base</h3>
          <p>We are able to provide manpower to for construction and maintenance activities, both English and Chinese speaking, with access to a pool of locals and foreigners.  Our range of manpower supply solutions includes turbine technicians, engineers, rope access providers, contract management.  We work on a contract basis, meaning we will supply manpower as and when required, and for the specific duration.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="tech-qual">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="align-center">Managing Personal Qualifications</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7 text-muted">
          <h3 style="padding-bottom:20px; padding-top:10px">Managing personal qualifications on Shimoki couldn't be easier</h3>
          <ul>
            <li>Request the Qualification from the Issuer</li>
            <li>Add the Qualification to your CV</li>
            <li>Share your CV public link</li>
          </ul>
          <h5 style="padding-top:20px">All this is stored securely on <b>Shimoki Core</b></h3>
        </div>
        <div class="col-sm-5">

        </div>
      </div>
    </div>
  </section>

  <section class="tech-privacy bg-primary">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="align-center">We Value Privacy</h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="align-center">Shimoki values privacy.  Your personal data is stored securely in Shimoki private identity management servers where you can control your own privacy settings, and we do not store any personal data on the Shimoki Blockchain.</p>
          <h6>Diagram of the hash of personal data</h6>
        </div>
      </div>
    </div>
  </section>

  <section class="tech-obj">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 style="padding-bottom:10px;">Any Object can be certified on <b>Shimoki Core</b></h2>
          <p class="align-center lr-padding text-muted" style="padding-bottom:10px">For Certification of Objects, <b>Shimoki Core</b> breaks the Paper Certificate mould.  We have three different types of Certificate, which when combined with our Qualifications layer allows for unprecendented traceability.</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <ul class="text-muted">
            <li><b>Registry Certificate</b> - Our Registry Certificates capture the existence of an Object or set of Objects, for example an elevator or a batch of Cheese.</li>
            <li><b>Endorsement Certificate</b> - Our Endorsement Certificates capture a trusted third party Endorsement of a Product, for example if it meets a specific food safety standard (EXAMPLE), or a particular environmental test (RoHS Lead Free).</li>
            <li><b>Assignment Certificate</b> - Our Assignment Certificates capture the transfer of an Object from one Owner to another Owner. Assignments can also be made to other Objects, such that complex Certification Trees can be built and maintained with minimal
              fuss (for example think about the number of individual parts on an aeroplane).</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!--This should be a CTA to the Case Studies area-->
  <section class="cta">
    <div class="cta-content">
      <div class="container">
        <h2>Case Studies</h2>
        <h4>Find out how the Shimoki Core Blockchain can be used for many different applications.</h4>
        <a href="/" class="btn btn-outline-white btn-xl js-scroll-trigger">Our Case Studies</a>
      </div>
    </div>
    <div class="overlay"></div>
  </section>

  {% include "partials/footer.html" %}

</body>
{% endblock %}
