<!-- index.nunjucks -->
{% extends "layout.nunjucks" %} {% block content %}

<body id="contact">

  <!-- Navigation -->
  {% include "partials/navigation.html" %}

  <header class="masthead">
    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <h1 class="header-content-h1 header-content-h1-left header-bold">Contact</h1>
          <h2 class="header-content-h2">Constance OTC Cloud simplifies ticketing and billing for Oilfield Service Companies, delivering savings across the billing cycle.</h2>
        </div>
        <div class="col-sm-7">
        </div>
      </div>
    </div>
  </header>

  <section class="contact-core">
    <div class="container">
      <div class="row">
        <div class="col-sm-7">

        </div>
        <div class="col-sm-5">
          <h2>The <b>Offshore Wind Solutions</b> Integrated Package</h2>
          <h5 class="text-muted">Offshore Wind Solutions integrates Marine, Aviation and Manpower Services into one integrated service solution.</h5>
        </div>
      </div>
    </div>
  </section>

  {% include "partials/footer.html" %}

</body>
{% endblock %}
