<!-- index.nunjucks -->
{% extends "layout.nunjucks" %} {% block content %}

<body id="login">

  <!-- Navigation -->
  {% include "partials/navigation.html" %}

  <header class="masthead">
    <div class="container">
      <div class="row">

        <h1>Splash Page</h1>

      </div>
    </div>
  </header>

  <section class="try-it bg-primary text-center" id="try-it">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="try-it-info">
            <h1><b>Constance</b> Cloud OTC</h1>
            <h2><b>Constance</b> from <b>Zyne</b> enables straight through processing on complex, in-field sales for remote service operations, streamlining your Enterprise Order to Cash Process.</h2>
            <hr>
          </div>
          <div class="try-it-info">
            <h1>Diagram</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="features" id="features">
    <div class="row">
    <div class="container">
      <div class="section-heading text-center">
        <h2>Bringing Cloud OTC and Sales Automation to Remote Locations</h2>
        <p class="text-muted"><b>Constance</b> from <b>Zyne</b> brings 21st Century technology and efficiency to remote locations, significantly reducing the time to process orders, generate invoices and receive payment from your customers.</p>
        <hr>
      </div>
      <div class="row">
        <div class="column col-12">
            <div class="device device-ipad-pro device-gold">
            <div class="device-frame">
              <img class="device-content" src="src/img/bg-02.jpg">
            </div>
            <div class="device-stripe"></div>
            <div class="device-header"></div>
            <div class="device-sensors"></div>
            <div class="device-btns"></div>
            <div class="device-power"></div>
          </div>
        </div>
      </div>
        <div class="col-lg-12 my-auto">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-4">
                <div class="feature-item">
                  <i class="fas fa-dollar-sign "></i>
                  <h3>Reduce Days Sales Outstanding</h3>
                  <p class="text-muted">Using the <b>Constance</b> ticketing and billing workflow, organisations can immediately reduce Days Sales Outstanding, reducing the time taken from delivering a service to invoicing.</p>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="feature-item">
                  <i class="fas fa-file-invoice"></i>
                  <h3>Integrated Solution for Billing</h3>
                  <p class="text-muted">The <b>Constance</b> platform is fully integrated, and works both online on our web-based interface, and offline through our ipad app.</p>
                </div>
              </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="feature-item">
                  <i class="fa fa-lock "></i>
                  <h3>Secure, Cloud-enabled Platform</h3>
                  <p class="text-muted"><b>Constance</b> is completely encrypted and secure, and works in the Cloud, allowing organisations to take immediate advantage of the platform at a lower Total Cost of Ownership.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>

  <section class="cta">
    <div class="cta-content">
      <div class="container">
        <h2>Next Generation Oilfield Billing</h2>
        <h4><b>Constance</b> from <b>Zyne</b> can help deliver savings to your organisation.</h4>
              <a href="/constance.html" class="btn btn-outline-white btn-xl js-scroll-trigger">Find out more</a>
            </div>
          </div>
          <div class="overlay"></div>
  </section>


  <section class="features" id="features">
    <div class="row">
      <div class="container">
        <div class="section-heading text-center">
          <h2>Our Partners</h2>
          <p class="text-muted"><b>Zyne</b> works with many partners across the Oil & Gas value chain:</p>
          <hr>
        </div>
        <div class="col-lg-12 my-auto">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-4">
                <div class="feature-item">
                  <i class="fa fa-lock"></i>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="feature-item">
                  <i class="fa fa-qrcode "></i>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="feature-item">
                    <i class="fa fa-gift "></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% include "partials/footer.html" %}

</body>
{% endblock %}
