<!-- index.nunjucks -->
{% extends "layout.nunjucks" %} {% block content %}

<body id="partners">

  <!-- Navigation -->
  {% include "partials/navigation.html" %}

  <header class="masthead">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="header-content-h1">Partners</h1>
        </div>
      </div>
    </div>
  </header>

  <section>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>We are working with partners in the following fields:</h1>
          <ul>
            <li>Issuers of professional qualifications (CPA, CFA, Medicine)</li>
            <li>Issuers of safety qualifications (Offshore Safety, Electrical Safety)</li>
            <li>Issuers of personnel operating licenses (Aircraft Pilots, Marine Crew, HGV Operators)</li>
          </ul>
          <h2>If you issue qualifications or hire people with these qualifications, we would like to hear from you!</h2> Contact us at <a href="mailto:partners@shimoki.com">partners@shimoki.com</a>
        </div>
      </div>
    </div>
  </section>

  {% include "partials/footer.html" %}

</body>
{% endblock %}
