
#about header.masthead{
  position: relative;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
  color: #fff;
  background: $smk-about-bg;
  background-position: top;
  background-size: 1920px;
}
