#constance {
  header.masthead {
    position: relative;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
    color: #fff;
    background: $smk-technology-bg;
    background-position: top;
    background-size: 1920px;
  }

  section.tech-core {
    h3{
      /*color: $smk-dark-text;*/
    }
  }

  section.cta {
    background-image: $smk-cs-cta-bg;
  }

  .header-content-h1 {
    padding-bottom: 30px;
  }

  .lr-padding {
    padding-left: 20px;
    padding-right: 20px;
  }

  p .lighter-text {
    color: $smk-trans-text3;
  }

  .feature-item {
    font-size: 120px;
    display: block;
    margin-bottom: 15px;
    background: -webkit-linear-gradient(to left, $smk-icon-blue1, $smk-icon-blue2);
    background: linear-gradient(to left, $smk-icon-blue1, $smk-icon-blue2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }

.bottom-pad{
  padding-bottom: 50px;
}

.top-pad {
  padding-top: 25px;
}

.heading-content-h4{
  padding-bottom: 20px;
}

li{
  padding-bottom:10px;
}

}
