#contact {
  header.masthead {
    position: relative;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
    color: #fff;
    background: $smk-technology-bg;
    background-position: top;
    background-size: 1920px;
  }

  section.contact-core {
    h3{
      /*color: $smk-dark-text;*/
    }
  }

  .header-content-h1 {
    padding-bottom: 30px;
  }

}
