body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: Muli, Helvetica, Arial, sans-serif;
}

a {
  color: $smk-link;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

a:focus,
a:hover {
  color: $smk-link-over;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: $smk-trans-text2;
}

hr.light {
  border-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
li {
  font-family: Catamaran, Helvetica, Arial, sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  font-family: Muli, Helvetica, Arial, sans-serif;
}

section {
  padding: 100px 0;
}

section {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 50px;
    margin-bottom: 15px;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 30px;
  }

  h5 {
    font-size: 25px;
  }

  h6 {
    font-size: 20px;
  }

  li {
    font-size: 20px;
  }
}

header.masthead {
  position: relative;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
  color: #fff;
  background: $smk-home-bg;
  background-position: top;
  background-size: 1920px;
}

header.masthead .header-content {
  max-width: 500px;
  margin-bottom: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

header.masthead .header-content h1 {
  font-size: 30px;
}

header.masthead .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}

header.masthead .device-container .screen img {
  border-radius: 3px;
}
@media (min-width:768px) {
  header.masthead {
    /*height: 100vh;*/
    min-height: 650px;
    padding-top: 10vh;
    padding-bottom: 0;
  }

  header.masthead .header-content {
    margin-bottom: 0;
    text-align: left;
  }

  header.masthead .header-content h1 {
    font-size: 30px;
  }

  header.masthead .device-container {
    max-width: 325px;
  }
}

header.masthead .header-content-h1 {
  margin-top: 50px;
  text-align: center;
  font-size: 5rem;
}
@media (min-width:768px) {
  header.masthead .header-device {
    clip: rect(0px, 500px, 500px, 0px);
  }

  header.masthead .header-device-container {
    height: 500px;
  }
}

header.masthead .header-content-h1-left{
  text-align: left;
}

header.masthead .header-bold{
  font-weight: bold;
}

header.masthead .header-content-h2 {
  font-size: 3rem;
}

.bg-primary {
  background: $smk-blue2;
  background: -webkit-linear-gradient($smk-blue2, $smk-blue3);
  background: linear-gradient($smk-blue2, $smk-blue3);
}

.no-gutter > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline-white {
  color: #fff;
  border: 1px solid;
  border-color: #fff;
}

.btn-outline-dark {
  color: $smk-dark-text;
  border: 1px solid;
  border-color: $smk-dark-text;
}

.btn-outline-white.active,
.btn-outline-white:active,
.btn-outline-white:focus,
.btn-outline-white:hover {
  color: #fff;
  border-color: $smk-yellow1;
  background-color: $smk-yellow1;
}

.btn-outline-dark.active,
.btn-outline-dark:active,
.btn-outline-dark:focus,
.btn-outline-dark:hover {
  color: $smk-dark-text;
  border-color: $smk-dark-text;
  background-color: $smk-light-blue1;
}

.btn {
  border-radius: 300px;
  font-family: Muli, Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-xl {
  font-size: 15px;
  padding: 15px 45px;
}

.btn-facebook {
  background-color: $fb-blue;
  color: white;
}

.panel-shadow {
  box-shadow: 0 4px 8px 0 $panel-shadow1, 0 6px 20px 0 $panel-shadow2;
}

.panel-title {
  font-size: 2rem;
}

.panel-radiobox {
  color: $smk-dark-text2;
}

.qr-img {
  width: 175px;
}

.panel-qr {
  margin-bottom: 30px;
}

.align-center {
  text-align: center;
}
