footer h3 {
  margin-bottom: 1rem;
  font-size: 2.25rem;
}

footer h4 {
  font-size: 1.75rem;
}

footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $smk-light-blue1;
  padding: 2.5rem;
}

footer .footer-col {
  margin-top: 10px;
  margin-bottom: 10px;
}

footer .pinterest, .twitter, .facebook {
  font-size: 4rem;
  margin-right: 1rem;
}

footer .email-div {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

footer .email-text-box {
  padding: 1rem;
  border: none;
  width: 100%;
  max-width: 450px;
}

footer *:focus {
  outline: none;
}

footer .rights {
  padding-top: 3rem;
  text-align: center;
}
