section.try-it {
  position: relative;
  padding: 120px 0px
}

section.try-it h1 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 15px;
}

section.try-it h2 {
  font-size: 18px;
  margin-top: 0;
  color:$smk-trans-text3;
}

section.try-it hr {
  border-color:$smk-trans-text4;
}

section.try-it .badges .badge-link {
  display: block;
  margin-bottom: 25px
}

section.try-it .badges .badge-link:last-child {
  margin-bottom: 0
}

section.try-it .badges .badge-link img {
  height: 60px
}

section.try-it .try-it-info {
  padding-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

section.try-it .try-it-panels {
  margin-left: 15px;
  margin-right: 15px;
}

@media (min-width:768px) {
  section.try-it .badges .badge-link {
    display: inline-block;
    margin-bottom: 0
  }
}

section.features .section-heading {
  margin-bottom: 100px
}

section.features .section-heading h2 {
  margin-top: 0
}

section.features .section-heading p {
  margin-bottom: 0
}

section.features .device, section.features .feature-item {
  margin: 1rem auto
}

@media (min-width:768px) {
  section.features .device {
    margin-bottom: 0
  }
}

@media (max-width: 600px){
  section.features .device {
      left: 50%;
      transform: translateX(-50%) scale(.50);
  }
}

section.features .feature-item {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center
}

section.features .feature-item h3 {
  font-size: 30px
}

section.features .feature-item i {
  font-size: 80px;
  display: block;
  margin-bottom: 15px;
  background: -webkit-linear-gradient(to left, $smk-purple-icon1, $smk-purple-icon2);
  background: linear-gradient(to left, $smk-purple-icon1, $smk-purple-icon2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

section.cta {
  position: relative;
  padding: 250px 0;
  background-image: $smk-cta-bg;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover
}

section.cta .cta-content {
  position: relative;
  z-index: 1
}

section.cta .cta-content h2 {
  font-size: 50px;
  max-width: 600px;
  margin-top: 0;
  margin-bottom: 25px;
  color: #fff
}

section.cta .cta-content h4 {
  font-size: 30px;
  max-width:600px;
  margin-top: 0;
  margin-bottom: 40px;
  color: #fff
}

@media (min-width:768px) {
  section.cta .cta-content h2 {
    font-size: 80px
  }

  section.cta .cta-content h4 {
    font-size: 20px;
  }
}

section.cta .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5)
}

section.contact {
  text-align: center
}

section.contact h2 {
  margin-top: 0;
  margin-bottom: 25px
}

section.contact ul.list-social {
  margin-bottom: 0
}

section.contact ul.list-social li a {
  font-size: 40px;
  line-height: 80px;
  display: block;
  width: 80px;
  height: 80px;
  color: #fff;
  border-radius: 100%
}


#login .header-content-h1 {
  margin-top:50px;
  text-align:center;
}

@media(min-width:768px) {
  #login .header-content-h1 {
    margin-top: 0;
  }
}

#login .header-content-h4 {
  text-align: center;
  margin-bottom: 5rem;
}
