
#mainNav {
  border-color: $smk-trans-text2;
  background-color: #fff;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  font-family: Catamaran, Helvetica, Arial, sans-serif;
  font-weight: 200;
  letter-spacing: 1px
}

#mainNav .navbar-brand {
  color: $smk-dark-text2;
  font-family: Josefin Sans, Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 3.25rem; /*2.25rem*/
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #ffffff
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #222
}

#mainNav .navbar-nav>li>a {
  font-size:1.5rem;
  font-family: Lato, Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase
}

#mainNav .navbar-nav>li>a.active {
  color: #ffffff!important;
  background-color: transparent
}

#mainNav .navbar-nav>li>a.active:hover {
  background-color: transparent
}

#mainNav .navbar-nav>li>a, #mainNav .navbar-nav>li>a:focus {
  color: #222
}

#mainNav .navbar-nav>li>a:focus:hover, #mainNav .navbar-nav>li>a:hover {
  color: #ffffff
}

@media (min-width:768px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent
  }
  #mainNav .navbar-brand {
    color: #ffffff;
    text-shadow: 0 0 32px black;
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff
  }
  #mainNav .navbar-nav>li>a, #mainNav .navbar-nav>li>a:focus {
    color: $smk-trans-text3;
  }
  #mainNav .navbar-nav>li>a:focus:hover, #mainNav .navbar-nav>li>a:hover {
    color: #fff
  }
  #mainNav.navbar-shrink {
    border-color: $smk-trans-text2;
    background-color: #fff
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: $smk-dark-text3;
    text-shadow: none;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: $smk-dark-text2;
  }
  #mainNav.navbar-shrink .navbar-nav>li>a, #mainNav.navbar-shrink .navbar-nav>li>a:focus {
    color: $smk-dark-text3;
  }
  #mainNav.navbar-shrink .navbar-nav>li>a:focus:hover, #mainNav.navbar-shrink .navbar-nav>li>a:hover {
    color: $smk-dark-text2;
  }
}
