$smk-blue1: #19456e;
$smk-blue2: #072540;
$smk-blue3: #03101c;
$smk-light-blue1: #e0ebf5;

$smk-yellow1: #fdcc52;

$smk-link: #21609a;
$smk-link-over: #64a8e7;

$smk-map-marker: #21609a; //#8c0000

$smk-dark-text: #151b1e;
$smk-dark-text-trans: rgba(21, 28, 31,0.7);
$smk-dark-text2: rgb(51, 51, 51);
$smk-dark-text3: #222;

$smk-warning-bg: #ffefbf;
$smk-warning-border: #e8c764;

$smk-grey-text: #494949;
$smk-trans-text: rgba(255,255,255,0.5);
$smk-trans-text2: rgba(34, 34, 34, .1);
$smk-trans-text3: rgba(255,255,255,0.75);
$smk-trans-text4: rgba(255,255,255,0.2);

$smk-green-btn: #66d18c;
$smk-green-btn-light: #4dbd74;
$smk-green-btn-dark: #379457;
$smk-blue-btn: #aad6ff;
$smk-blue-btn-dark: #63a0d6;
$smk-red-btn: #d27777;
$smk-red-btn-dark: #af4a4a;

$smk-purple-icon1: #b340d0;
$smk-purple-icon2: #072540;

$fb-blue: #3b5998;

$smk-icon-blue1: #a693d5;
$smk-icon-blue2: #afcde8;

$panel-shadow1:rgba(0, 0, 0, 0.2);
$panel-shadow2:rgba(0, 0, 0, 0.19);

$smk-home-bg: url(../img/bg-cta2.jpg);
$smk-technology-bg: url(../img/bg-cta4.jpg);
$smk-team-bg: url(../img/bg-cta8.jpg);
$smk-partners-bg: url(../img/bg-cta8.jpg);
$smk-about-bg: url(../img/bg-cta8.jpg);

$smk-cta-bg: url(../img/bg-cta7.jpg);
$smk-cs-cta-bg: url(../img/bg-cta6.jpg);
